:root {
  /* Bookmark menu compacting */
  --arrowpanel-border-radius: 0px !important;
  --arrowpanel-menuitem-border-radius: 0px !important;
  --panel-subview-body-padding: 2px 0 !important;
  --panel-separator-margin-vertical: 2px !important;
}

#pageActionButton {
  display: none !important;
}

#context-navigation,
#context-sep-navigation,
#context-sendpagetodevice,
#context-sep-sendpagetodevice,
#context-sendlinktodevice,
#context-sep-sendlinktodevice {
  display: none !important;
}

/* Hide Tree Style Tab header */
#sidebar-box #sidebar-header {
  visibility: collapse;
}

#sidebar {
  min-width: 36px !important;
}

#TabsToolbar {
  visibility: collapse !important;
}

/* Bookmark menu compacting */

#BMB_bookmarksPopup .subviewbutton,
#PlacesToolbar menupopup[placespopup] .bookmark-item,
#PlacesToolbar menupopup[placespopup] .openintabs-menuitem {
  padding-block: 1px !important;
}

#BMB_bookmarksPopup .bookmark-item,
#PlacesToolbar menupopup[placespopup] .bookmark-item {
  min-height: unset !important;
  /* Original: 24px */
}

/* Kill obnoxious extensions button */
#unified-extensions-button {
  /* display: none !important; */
}

/* Hide obnoxious green dot on extensions button */
#unified-extensions-button[attention] > .toolbarbutton-icon,
.unified-extensions-item[attention]
  > .unified-extensions-item-action-button.toolbarbutton-1
  > .toolbarbutton-badge-stack,
.unified-extensions-item[attention]
  > .unified-extensions-item-action-button.subviewbutton {
  background-image: none !important;
}
