* {
  font-size: 20px;
  font-family: "Font Awesome 6 Brands", "Font Awesome 6 Free", "Terminus";
  font-weight: normal;
}

window#waybar {
  /* background: #292b2ea0; */
  /* background: rgba(63, 63, 63, 0.5); */
  background: rgba(0, 0, 0, 0.75);
  color: #fdf6e3;
  border-radius: 0;
}

#custom-right-arrow-dark,
#custom-left-arrow-cap {
  color: #1a1a1a;
  background: rgba(63, 63, 63, 0);
}
#custom-left-arrow-dark {
  color: #1a1a1a;
  background: rgba(63, 63, 63, 1);
}
#custom-right-arrow-light,
#custom-left-arrow-light {
  color: rgba(63, 63, 63, 1);
  background: #1a1a1a;
}

#workspaces,
#clock,
#clock.1,
#clock.2,
#clock.3,
#pulseaudio,
#backlight,
#memory,
#cpu,
#temperature,
#battery,
#tray,
#custom-storage,
#disk,
#network,
#idle_inhibitor {
  background: rgba(0, 0, 0, 0);
}

#clock,
#clock.1,
#clock.2,
#clock.3,
#pulseaudio,
#backlight,
#memory,
#cpu,
#temperature,
#battery,
#tray,
#custom-storage,
#disk,
#network,
#idle_inhibitor {
  padding: 10px 5px;
}

#clock {
  font-size: 26px;
  padding: 10px 5px;
  font-family: "Noto Sans";
}

#workspaces {
  /* margin-right: 10px; */
  min-width: 30px;
}
#workspaces button {
  padding: 10px 0px;
  color: rgba(253, 246, 227, 0.7);
  /*   color: #6c71c4; */
  border-radius: 0;
}
#workspaces button.focused {
  /* color: #268bd2;
     color: #68217A;
     color: #6c71c4;
     color: #c747ff;
     color: #ad3cdf;
     color: #DDC53B */
  color: rgba(253, 246, 227, 1);
  /* border-right: #fdf6e3 2px solid;
     padding-right: 3px; */
  background: rgba(253, 246, 227, 0.075);
}
#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  background: #1a1a1a;
  /* border: #1a1a1a; */
}

#idle_inhibitor {
  /*   color: #f9c0cc; */
  /*   color: #eb96a8; */
  /*   color: #c08a95;  */
  color: #c8909c;
}
#pulseaudio {
  color: #268bd2;
}
#network {
  color: #d2ac7b;
}
#backlight {
  color: #b58900;
}
#memory {
  color: #2aa198;
}
#memory.low {
  color: #2aa198;
}
#memory.mid {
  color: #ddc53b;
}
#memory.high {
  color: #d76802;
}
#memory.crit {
  color: #bf0000;
}
#temperature {
  color: #b58900;
}
#cpu {
  color: #6c71c4;
}
#cpu.low {
  color: #6c71c4;
}
#cpu.mid {
  color: #ddc53b;
}
#cpu.high {
  color: #d76802;
}
#cpu.crit {
  color: #bf0000;
}
#battery {
  color: #859900;
}
#battery.warning {
  color: #ddc53b;
}
#battery.critical {
  color: #bf0000;
}
#custom-storage {
  color: #b58900;
}
#disk {
  color: #b58900;
}
#disk.low {
  color: #b58900;
}
#disk.mid {
  color: #ddc53b;
}
#disk.high {
  color: #d76802;
}
#disk.crit {
  color: #bf0000;
}

#custom-failed-units {
  color: #bf0000;
}

tooltip {
  border: 0;
  border-radius: 0;
  /*   border: 1px solid rgba(100, 114, 125, 0.5); */
}
